.container
{
    display: grid;
    grid-area: auto;
    height: 80%;
    gap: 5px;

}
.part1
{
    border: 5px black solid;
    border-radius: 5px;
    grid-area: 1/1/2/5;

}

.part2
{
    border:5px black solid;
    border-radius: 5px;
    grid-area: 1/5/2/13;
}