.mian
{
    display: grid;
    grid-area: auto;
    height: 100%;
    gap: 5px;

}
.div1
{
    border: black solid;
    grid-area: 1/1/2/5;

}

.div2
{
    border: black solid;
    grid-area: 1/5/2/13
}