.container {
    display: grid;
    grid-area: auto;
    gap: 10px;
    height: 100%;
    text-align: center;
}

.head {
    border: 3px red solid;
    grid-column: 1/13;
    border-radius: 5px;
    
}

.slide {
    border: 3px red solid;
    border-radius: 5px;
    grid-area: 2/1/10/5;
    
}

.nav {
    border: 3px red solid;
    border-radius: 5px;
    grid-area: 2/5/3/10;
    
}

.main {
    border: 3px red solid;
    border-radius: 5px;
    grid-area: 3/5/10/10;
    
}

.ads {
    border: 3px red solid;
    border-radius: 5px;
    grid-area: 2/10/10/13;
    
}

.foot {
    border: 3px red solid;
    border-radius: 5px;
    grid-column: 1/13;
    
}

@media (max-width: 900px)
{
.head {
    
    grid-column: 1/13;
    
}

.nav {
    
    grid-column: 1/13;
    
}

.slide {
    
    grid-area: 3/1/12/4;
    
}

.main {
    
    grid-area:3/4/12/13;
    
}

.ads {
    
    grid-area: 12/1/13/4;
    
}

.foot {
    
    grid-area: 12/4/13/13;
    
}
}

@media (max-width: 600px)
{
.head {
    
    grid-column: 1/13;
    
}

.nav {
    
    grid-column: 1/13;
    
}

.main {
    
    grid-area:3/1/10/13;
    
}

.slide {
    
    grid-area: 10/1/11/13;
    
}

.ads {
    
    grid-area: 11/1/12/13;
    
}

.foot {
    
    grid-area: 12/1/13/13;
    
}
}

