.container
{
    display: grid;
    grid-area: auto;
    height: auto;
    gap: 5px;
    text-align: center ;
}
.d1
{
    border: 2px red solid ;
    border-radius: 5px;
    grid-area: 1/1/2/3;
}
.d2
{
    border: 2px red solid ;
    border-radius: 5px;
    grid-area: 1/3/2/5;
}
.d3
{
    border: 2px red solid ;
    border-radius: 5px;
    grid-area: 1/5/2/7;
}
.d4
{
    border: 2px red solid ;
    border-radius: 5px;
    grid-area: 1/7/2/9;
}
.d5
{
    border: 2px red solid ;
    border-radius: 5px;
    grid-area: 1/9/2/11;
}


